@model IEnumerable<InventoryInterface.Models.Products>

@{
    ViewData["Title"] = "Index";
}

<content id="content" class="py-5">
    <section class="px-1">
        <h1 class="fw-bold">Listing of our Products</h1>


        <button class="btn btn-primary">
            <a asp-action="Create" style="color: white; text-decoration:none;">Create New</a>
        </button>
        <br />

        <div class="card-container">
            @foreach (var item in Model)
            {
                <div class="card shadow">
                    <div class="card-body">
                        <table>
                            <tr >
                                <td>
                                    <label>Product ID: </label>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    <label> Title: </label>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <img src=" @Html.DisplayFor(modelItem => item.Image)" />
                                
              
                                <td>
                               
                                    <label> Quantity:</label>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-overlay">
                        <a href="@Url.Action("Edit", new { id = item.Id })">Edit</a>
                        <a href="@Url.Action("Details", new { id = item.Id })">Details</a>
                        <a href="@Url.Action("Delete", new { id = item.Id })">Delete</a>
                    </div>
                </div>
            }
        </div>
    </section>
</content>

<style>
    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap:30px;
        width: auto;
        height: auto;
        width:100%;
    }

    .card {
        width: 30%;
        border: 1px solid #ccc;
        background-color: #ccce;
        padding: 10px;
        width: auto;
        height: auto;
        transition: transform 0.3s;
    }

    .card img{
            width: 150px;
            height: 120px;
            mix-blend-mode: color-burn;
    }

        .card:hover {
            transform: scale(1.05);
        }

    .card-overlay {
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        padding: 10px;
        display: none;
    }

    .card:hover .card-overlay {
        display: block;
    }

    .card-overlay a {
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
    }

        .card-overlay a:hover {
            text-decoration: underline;
        }

        tr{
        display: flex;
        flex-direction: column;
        }

    table label {
        font-weight: bold;
    }

    .action-buttin a:hover{
        color: #fff;
        text-decoration: none;
    }

    
</style>
